{% extends 'navs/base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block content %}
        <div style="margin-top: 100px;" class="container col-md-6">
            <h1 style="text-align: center; margin-top: 30px;">Log In</h1>
            
            <form action=""  method="POST" style="margin-top: 15px;">
                {% csrf_token %}
                {{ form|crispy}}

              

                {% for message in messages %}
                 <p style="background-color: #f8d166; padding: 10px; text-align: center;">{{ message }}</p>

                {% endfor %}

                <div style="text-align: center;">
                    <input class="btn btn-lg btn-success" type="submit" value="Log In">
                </div>
            </form>
        </div>
    {% endblock content %}
        
  

   
</body>
</html>