body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #3498db;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ecf0f1;
}

th {
    background-color: #3498db;
    color: #fff;
}

td {
    background-color: #f8d166;
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 2px solid #ecf0f1;
}

.profile-info img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
}

.user-details {
    flex-grow: 1;
    margin-left: 20px;
}

.user-details p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.6;
}

.user-details p strong {
    display: inline-block;
    width: 150px; 
    font-weight: bold;
}

@media (max-width: 600px) {
    .profile-info {
        flex-direction: column;
        align-items: center;
    }

    .user-details {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .user-details p strong {
        width: auto;
        text-align: center;
        margin-bottom: 5px;
    }
}