{% extends 'navs/base.html' %}

{% block content %}
    <br>
    <br>
    <br>

    <div class="container" style="text-align: center;">
        <h2>Confirm Deletion</h2>
        <p>Are you sure you want to delete "{{ object.first_name }}  {{ object.last_name }}"?</p>
        <form method="post">
          {% csrf_token %}
          <input type="submit" value="Confirm Delete" class="btn btn-danger">
        </form>

        <a href="{% url 'view_staff' %}" style="margin-top: 25px;" class="btn btn-warning">Cancel</a>
    </div>
  
{% endblock %}
