{% extends 'navs/admin_nav.html' %}
{% load crispy_forms_tags %}
{% block title %}Update User Profile{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
  {% block content %}
  <div class="container">
    <h2>Edit Profile</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
  
      <h3>Work Information</h3>
      {{ workform|crispy }}
  
      <h3>Nominal Information</h3>
      {{ nominalform|crispy }}
  
      <button class="btn btn-success" type="submit">Save Changes</button>
    </form>
  </div>
    
  {% endblock content%}
</body>
</html>


