{% extends 'navs/user_nav.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}
        Profile
    {% endblock title %}
        
</head>
<body>

{% block content %}


    <div style="margin-top: 30px;">

        <h1 style="text-align: center; color: #3498db; margin-bottom: 30px;">User Profile <a style="margin-left: 30px;" href="{% url 'download_user_excel' %}" target="_blank">
            <i class="fa-solid fa-download"></i>
        </a></h1>
        

        <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px; background-color: #f8d166; border-radius: 8px; overflow: hidden;">
            
            <thead>
                <tr>
                    <th style="border: 1px solid #ffffff; padding: 12px; background-color: #3498db; color: #ffffff;">Personal Information</th>
                    <th style="border: 1px solid #ffffff; padding: 12px; background-color: #3498db; color: #ffffff;">Details</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">First Name</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ user_profile.first_name }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Last Name</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ user_profile.last_name }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Other Name</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ user_profile.other_name }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Emergency Contact Name</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ user_profile.emergency_contact_name }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Date Of Birth</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ user_profile.date_of_birth }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Ghana Card Number</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ user_profile.ghana_card_number }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Gender</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ user_profile.gender }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Phone Number</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ user_profile.phone_number }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Email</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ user_profile.email }}</td>
                </tr>
            </tbody>
        </table>

        <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px; background-color: #f8d166; border-radius: 8px; overflow: hidden; ">

            <thead>
                <tr>
                    <th style="border: 1px solid #ffffff; padding: 12px; background-color: #3498db; color: #ffffff;">Work Information</th>
                    <th style="border: 1px solid #ffffff; padding: 12px; background-color: #3498db; color: #ffffff;">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Date of Appointment</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ work_info.date_of_appointment }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Date at current Station</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ work_info.date_at_current_station }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">SSNIT</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ work_info.ssnit }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">NTC License Number</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ work_info.ntc_license_number }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Rank</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ work_info.rank }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Date promoted to Rank</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ work_info.date_promoted_to_rank }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Staff Category</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ work_info.staff_category }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Academics</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ work_info.academics }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Professional</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ work_info.professional }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Schedule</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ work_info.schedule }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Department Category</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ work_info.department_category }}</td>
                </tr>
            </tbody>
        </table>

        <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px; background-color: #f8d166; border-radius: 8px; overflow: hidden;">
            <thead>
                <tr>
                    <th style="border: 1px solid #ffffff; padding: 12px; background-color: #3498db; color: #ffffff;">Nominal Data</th>
                    <th style="border: 1px solid #ffffff; padding: 12px; background-color: #3498db; color: #ffffff;">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Name of Bank</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ nominal_data.name_of_bank }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Bank Branch</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ nominal_data.bank_branch }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Auth Number</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ nominal_data.auth_number }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Salary Grade Type</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ nominal_data.salary_grade_type }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Salary Grade Level</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ nominal_data.salary_grade_level }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ffffff; padding: 12px;">Grade Step</td>
                    <td style="border: 1px solid #ffffff; padding: 12px;">{{ nominal_data.grade_step }}</td>
                </tr>
            </tbody>
        </table>

        <div style="text-align: center; margin-top: 20px;">
            <h4 style="color: #3498db; margin-top: 30px;">Need to update any information here?</h4>
            <a href="{% url 'update_profile' %}" class="btn btn-primary" style="margin-bottom: 30px; margin-top: 30px;">Update</a>
        </div>
    </div>
{% endblock content %}

</body>
</html>







