<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ staff.first_name }} {{ staff.last_name }} - PDF</title>
    
    <!-- Add any additional stylesheets or scripts that are necessary -->
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;">{{ staff.first_name }} {{ staff.last_name }}</h1>
        <p><strong>First Name:</strong> {{ staff.first_name }}</p>
        <p><strong>Last Name:</strong> {{ staff.last_name }}</p>
        <hr>
        <!-- Add the content you want in the PDF here -->
        <div class="profile-info">
           
                <h2 style="text-align: center;">Personal Details</h2>
                        <table>
                            <tr>
                                <th style="text-align: center;">FIELD</th>
                                <th style="text-align: center;">INFO</th>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Email</strong></td>
                                <td style="text-align: center;">{{ staff.email}}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Date of Birth</strong></td>
                                <td style="text-align: center;">{{staff.date_of_birth}}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Other name</strong></td>
                                <td style="text-align: center;">{{staff.other_name}}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Gender</strong></td>
                                <td style="text-align: center;">{{staff.gender}}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Tel.</strong></td>
                                <td style="text-align: center;">{{staff.phone_number}}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Emergency Contact Name</strong></td>
                                <td style="text-align: center;">{{staff.emergency_contact_name}}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Ghana Card Number</strong></td>
                                <td style="text-align: center;">{{staff.ghana_card_number}}</td>
                            </tr>
                            
                        </table>
                        <br>
                        <br>
                        <br>
                        <br>
                      <h2 style="text-align: center;">Work Information</h2>  
                        <table>
                            <tr>
                                <th style="text-align: center;">FIELD</th>
                                <th style="text-align: center;">INFO</th>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Date of Appointment</strong></td>
                                <td style="text-align: center;">{{ work_instance.date_of_appointment}}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Date at Current Station</strong></td>
                                <td style="text-align: center;">{{work_instance.date_at_current_station}}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>SSNIT</strong></td>
                                <td style="text-align: center;">{{work_instance.ssnit}}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>NTC License Number</strong></td>
                                <td style="text-align: center;">{{work_instance.ntc_license_number}}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Rank</strong></td>
                                <td style="text-align: center;">{{work_instance.rank}}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Date Promoted to Rank</strong></td>
                                <td style="text-align: center;">{{work_instance.date_promoted_to_rank}}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Staff Category</strong></td>
                                <td style="text-align: center;">{{work_instance.staff_category}}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Academics</strong></td>
                                <td style="text-align: center;">{{work_instance.academics}}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Professional</strong></td>
                                <td style="text-align: center;">{{work_instance.professional}}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Schedule</strong></td>
                                <td style="text-align: center;">{{work_instance.schedule}}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Department Category</strong></td>
                                <td style="text-align: center;">{{work_instance.department_category}}</td>
                            </tr>
                        </table>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h2 style="text-align: center;">Nominal Details</h2>
                        <table>
                            <tr>
                                <th style="text-align: center;">FIELD</th>
                                <th style="text-align: center;">INFO</th>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Name of bank</strong></td>
                                <td style="text-align: center;">{{ nominal_instance.name_of_bank }}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Bank Branch</strong></td>
                                <td style="text-align: center;">{{ nominal_instance.bank_branch }}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Auth Number</strong></td>
                                <td style="text-align: center;">{{ nominal_instance.auth_number }}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Salay Grade Type</strong></td>
                                <td style="text-align: center;">{{ nominal_instance.salary_grade_type }}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Salary Grade Level</strong></td>
                                <td style="text-align: center;">{{ nominal_instance.salary_grade_level }}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><strong>Grade Step</strong></td>
                                <td style="text-align: center;">{{ nominal_instance.grade_step }}</td>
                            </tr>
                            <!-- Add other rows as needed -->
                        </table>
                        
                        

            </div>
        </div>
        <!-- Add other content as needed -->
    </div>
</body>
</html>

